In [38]:
import bs4
import requests

In [39]:
job=input("Enter your job title")
loc=input("enter your location")
exp=input("enter your experience")
url="https://www.indeed.co.in/jobs?q="
finalurl=url+job+"&l="+loc

Enter your job titlefreelancer
enter your locationjaipur
enter your experience2

In [40]:
req=requests.get(finalurl)
soup=bs4.BeautifulSoup(req.text,'lxml')
l1=soup.find_all('a',{'class':'turnstileLink'})

In [41]:
l2=[]
for i in l1:
    l2.append(i['title'])

In [42]:
import pandas as pd

In [43]:
df=pd.DataFrame({'JOBS':l2})

In [44]:
df.to_excel('jobs.xls')

In [45]:
df

                                                JOBS
0                          HR Recruiter (Freelancer)
1                             Freelance Art advisors
2                                   Buisness analyst
3                                      PHP Developer
4                         Pre Sales Business Analyst
5                             Content Writing Intern
6                       HR – Learning and Excellence
7  Need A Business analyst for bidding online and...
8                                   Graphic designer
9                                      PHP Developer